<h2 style="color:#171796"><%=investigador.nombre%></h2>
<h3>Descripcion: traer info de base de datos ? </h3>
<h4>Medios de contacto</h4>

<div class="container">
	<div class="row">
	  <div class="col-sm">
		<div class="card">
			<div class="card-header">
				Correo electrónico
			</div>
			<div class="card-body">
			  <p class="card-text"><%=investigador.correo%></p>
			</div>
		</div>
	  </div>
	  <div class="col-sm">
		<div class="card">
			<div class="card-header">
				Telefono
			</div>
			<div class="card-body">
			  <p class="card-text"><%=investigador.telefono%></p>
			</div>
		</div>
	  </div>
	  <div class="col-sm">
		<div class="card">
			<div class="card-header">
				Ubicación
			</div>
			<div class="card-body">
			  <p class="card-text">Traer info de base de datos</p>
			</div>
	    </div>
	  </div>
	</div>
  </div>

<h5>Departamentos</h5>
<div>
<% investigador.topicos.forEach(topico => { %>
<div>
	<a href="/departamento/<%= topico %>"><%= topico %> </a>
</div>
<% }) %>
<div>

<h5>Proyectos</h5>
<div>
Traer info de la base de datos?
</div>