<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
	 .logo-image{
		width: 46px;
		height: 46px;
		border-radius: 50%;
		overflow: hidden;
		margin-top: -6px;
	}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
		<div class="logo-image">
            <img src="https://raw.githubusercontent.com/ingridhdezbenz/Ingrid_22_09_2020/master/logotecblanco.png" class="img-fluid">
        </div>
	</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Investigadores del Tecnológico de Monterrey<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>

<div class="container">
	<div class="row">
	  <div class="col-sm">
		<h2>Filtra por Departamento</h2>
		<div>
			<form action="/lista" method="GET">
				<legend>Topicos</legend>
				<% topicos.forEach(topico => { %>
				<input type="checkbox" name="topico" value="<%= topico %>">
				<label for="<%= topico %>"><%= topico %></label>
				<% }) %>
				<button type="submit">Filtrar</button>
			</form>
		</div>
	  </div>
	  <div class="col-sm">
		<div class="card">
			<% investigadores.forEach(investigador => { %>			
			<div class="card-header">
				<a href="/investigador/<%= investigador.id %>">
					<div><%= investigador.nombre %> </div>
				</a>
			</div>
			<div class="card-body">
			  <h5 class="card-title">
				<% investigador.topicos.forEach(topico => { %>
					<div><%= topico %> </div>
				<% }) %>
			  </h5>
			  <p class="card-text">
				<div><%= investigador.telefono %> </div>
				<div><%= investigador.correo %> </div>
			  </p>
			</div>
			<% }) %>
		</div>
	  </div>
	</div>
</div>


<h3>Buscar Investigador</h3>
<form action="/lista" method="GET">
	<div>
		<div>
			<label>Nombre</label>
			<input type="text" name="nombre" value="<%= opcionesBusqueda.nombre%>">
		</div>
	</div>
	<div>
		<button type="submit">Buscar</button>
	</div>
</form>

