<h2>Lista Investigadores</h2>
<h3>Buscar Investigador</h3>
<form action="/lista" method="GET">
	<div>
		<div>
			<label>Nombre</label>
			<input type="text" name="nombre" value="<%= opcionesBusqueda.nombre%>">
		</div>
	</div>
	<div>
		<button type="submit">Buscar</button>
	</div>
</form>
<br>
<div>
	<form action="/lista" method="GET">
	    <legend>Topicos</legend>
	    <% topicos.forEach(topico => { %>
	    <input type="checkbox" name="topico" value="<%= topico %>">
	    <label for="<%= topico %>"><%= topico %></label>
	    <% }) %>
	    <button type="submit">Filtrar</button>
	</form>
</div>

<br>
<% investigadores.forEach(investigador => { %>
<a href="/lista/<%= investigador.id %>">
	<div><%= investigador.nombre %> </div>
</a>
	<div><%= investigador.telefono %> </div>
	<div><%= investigador.correo %> </div>
	<% investigador.topicos.forEach(topico => { %>
		<div><%= topico %> </div>
	<% }) %>

	<br>
<% }) %>

