<style>
	.logo-image{
	   width: 46px;
	   height: 46px;
	   border-radius: 50%;
	   overflow: hidden;
	   margin-top: -6px;
   }
</style>

<h2 style="margin-top: 40px; color: #171796; margin-left: 40px"><%=departamento.nombre%></h2>
<div><%=departamento.descripcion%> </div>

<h4 style="margin-top: 40px; margin-left: 40px">Miembros</h4>
<div style="margin-left: 40px">
	<% investigadores.forEach(investigador => { %>
		<a href="/investigador/<%= investigador.id %>">
			<div><%= investigador.nombre %> </div>
		</a>
	<% }) %>
</div>

<h4 style="margin-top: 40px; margin-left: 40px">Proyectos</h4>
<div style="margin-left: 40px">
	<% departamento.proyectos.forEach(proyecto => { %>
		<a href="/proyecto/<%= departamento.nombre %>/<%= proyecto.nombre %>"><%= proyecto.nombre %>
	<% }) %>
</div>
